/* Write your CSS here. */

.wgs {
	width:320px;
	height:241px;
	position:relative;
	display: inline-block;
	overflow: hidden;
}

.wgs__mole-head {
	width:188px;
	height:178px;
	position: absolute;
	left: 54.5px;
	transition: margin-top .25s;
}

.wgs__dirt-pile {
	width:320px;
	height:110px;
	position:absolute;
	bottom: 0px;
}

.wgs__mole-head--hidden {
	margin-top: 241px;
}
