/* Write your CSS here. */
body {
	zoom: 0.75;
}

.wgs {
	width:320px;
	height:241px;
	position:relative;
	display: inline-block;
	overflow: hidden;
}

.wgs__mole-head {
	width:188px;
	height:178px;
	position: absolute;
	left: 55px;
	transition: margin-top .25s;
}

.wgs__dirt-pile {
	width:320px;
	height:110px;
	position:absolute;
	bottom: 0px;
}

.wgs__mole-head--hidden {
	margin-top: 241px;
}

.wgs__mole-head--whacked {

}

.pf {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#banner {
	padding: 5px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-color: lime;
	font-size: 32px;
	color: blue;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
}
