/* Write your CSS here. */

.wgs {
	width:640px;
	height:482px;
	position:relative;
	display: inline-block;
	overflow: hidden;
}

.wgs__mole-head {
	width:376px;
	height:356px;
	position: absolute;
	left: 109px;
}

.wgs__dirt-pile {
	width:640px;
	height:220px;
	position:absolute;
	bottom: 0px;
}

.wgs__mole-head--hidden {
	margin-top: 482px;

}
